<div style="background-color: #32353a; margin-top: 0">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6">
        <h1 class="about_text pt-5">About Me</h1>
      </div>
      <div class="col-md-6">
        <p class="lorem_text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          cupiditate et officia quos. Nemo asperiores inventore cumque id
          delectus, minus fuga explicabo obcaecati dolor quas adipisci sequi
          laboriosam amet cupiditate natus. Quisquam, facere minus.
        </p>
        <div class="btn btn-secondary">
          <a href="./cv.html" download>download CV</a>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-sm-row justify-content-between border-top"
    ></div>
  </div>
</div>
